<section>
  <div class="container-fluid">
    <%= form_with url: admins_instagram_users_path, method: :get, local: true do |f| %>
      <div class="input-group my-3">
        <%= f.text_field :search_query,
          class:"form-control",
          placeholder: t("search_by_any_field"),
          aria: { label:t("search_by_any_field") },
          value: params[:search_query] %>
        <%= f.hidden_field :sort, value: params[:sort] %>
        <%= f.hidden_field :direction, value: params[:direction] %>
        <div class="input-group-append">
          <%= f.submit t("search"), class:"btn btn-outline-secondary" %>
        </div>
      </div>
    <% end %>
    <div id="usersTable">
      <%= render "shared/instagram_users_table", users: @users , actions_partial: "index_actions" %>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-end">
        <%= paginate @users %>
      </div>
    </div>
  </div>
</section>
