<% if users.any? %>
  <div class="table-responsive my-4">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="align-baseline text-nowrap"><%= sortable "id" %></th>
          <th scope="col" class="align-baseline text-center text-nowrap display-flex"><%= t "action" %></th>
          <th scope="col" class="align-baseline text-nowrap"><%= sortable "username" %></th>
          <th scope="col" class="align-baseline text-nowrap"><%= sortable "posts_count" %></th>
        </tr>
      </thead>
      <tbody>
        <% users.each do |user| %>
          <tr>
            <th scope="row" class="align-baseline"><%= user.id %></th>
            <td class="text-center text-nowrap"><%= render actions_partial, user: user %></td>
            <td class="align-baseline"><%= user.username %></td>
            <td class="align-baseline"><%= user.posts_count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p class="text-center"><%= t "no_users_found" %></p>
<% end %>
